
@font-face {
	font-family: Museo;
	src: url('fonts/Museo.otf');
}

@font-face {
	font-family: MuseoSlab;
	src: url('fonts/MuseoSlab.otf');
}


#placeling_footer{
	width: 100%;
	height: 100px;
    display: block;
	background-image:url('images/BGTile.png');
	background-repeat:repeat-x;
}

#placeling_left_footer{
	width: 180px;
	height: 100px;
    float: left;
    display: block;
}

#placeling_add_action{
    display:block;
}

#placeling_logo_image{
	float: left;
}

#placeling_add_map{
	margin: 0 0 0 10px;
	display: block;
}

#placeling_add_text{
	font-family: MuseoSlab, Rockwell, Courier;
	color: rgb(210,86,79);
	padding-top: 12px;
    float: left;
}

a#placeling_add_action{
	text-decoration: none;
}
		
#placeling_middle_footer{
	float: left;
	text-align: center;
	width: auto;
}

#placeling_contact_info{
	font-family: Museo, Rockwell, Courier;
}

#placeling_contact_info a{
	text-decoration: none;
	color: rgb(210,86,79);
}

#placeling_place_title{
	margin: 15px 0 0 0;
    line-height: 22px;
}

#placeling_place_name{
	font-size: 24px;
	color: rgb(193,191,183);
	text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
	font-family: MuseoSlab, Rockwell, Courier;
}

#placeling_place_title a{
	text-decoration: none;
}

#placeling_right_footer{
	width:78px;
	float: right;
	text-align: right;
	height: 100px;
}

#placeling_map_image{
	margin: 12px 10px auto 0;
	height: 60px;
	width: 60px;
	border-style:solid;
	border-width:4px;
	border-color: white;
}