
#placeling_placemark_error {
    list-style-type: none;
}

.placeling_place_details{
	float:left;
	display:block;
	margin:0px 0 0 10px;
	font-size: 14px;
}

#placeling_place_name {
    font-size: 18px;
}

#placeling_place_address, #placeling_place_city{
    font-size: 12px;
    color: #a9a9a9;
}

#placeling_placemark_memo{
    width:100%;
}

.placeling_map_image{
	float:left;
	width:100px;
	display:block;
	border-style:solid;
	border-width:4px;
	border-color: white;
}

#place_data{
	width:100%;
	height:120px;
	display:block;
}

.placeling_place_remove{
	display:block;
	width:80px;
	float:right;
}

#placeling_memo_label{
	font-weight: bold;
}

label.error{
	color:red;
}


#placeling_empty_place {
	display: block;
	min-height: 44px;
}

#placeling_empty_icon {
	float:left;
}

#placeling_add_label{
	padding-top:12px;
	font-size: 14px;
}
