

.wrap h2 {
	color: #464646;
}


h2 .nav-tab, .wrap h2, .subtitle, .login form .input {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}



.wrap h2 {
	font-size: 23px;
	padding: 9px 15px 4px 0;
	line-height: 29px;
}



.wrap h2, .subtitle {
	font-weight: normal;
	margin: 0;
	text-shadow: white 0 1px 0;
}